.itemDescription {
    width: 240px;
    height: 55px;   
}

.itemCard {
    width: 240px;
    height: 400px;
    .mat-card-image {
        height: 250px;
        width: 250px;
    }
    .mat-card-title {
        font-size: 16px;
    }
    .mat-card-subtitle {
        font-size: 12px;
    }
}

.mat-card-content {
    padding-top: 8px;
    margin-bottom: 0px;
}