.mat-drawer-container {
    position: fixed;
}

.userIcon {
    border: 1px solid white;
    border-radius: 20px;
    font-size: 32px;
    line-height: 32px;
    height: 32px;
    width: 32px;
}

.userImg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.userMenuBtn {
    margin-left: 20px;
    margin-right: 20px;
}

.messageBtn {
    margin-right: 15px;
}

.favListBtn, .searchIcon {
    // height: 30px;
    // width: 30px;
    // line-height: 30px;
    // mat-icon {
    //     font-size: 30px;
    // }
    margin-right: 5px;
}

.mat-toolbar {
    font-size: 16px;
    color: lightgoldenrodyellow;
}

.mat-menu-item {
    color: darkblue;
    .mat-icon {
        color: darkblue;
    }
}

