.mat-drawer-container {
    position: fixed;
}

.userIcon {
    border: 1px solid white;
    border-radius: 20px;
    font-size: 32px;
    line-height: 32px;
    height: 32px;
    width: 32px;
    margin-left: 20px;
}