<div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="20px" class="lightcream dashboard">
    <item-card [item]="mockItem1"></item-card>
    <item-card [item]="mockItem2"></item-card>
    <item-card [item]="mockItem3"></item-card>
    <item-card [item]="mockItem1"></item-card>
    <item-card [item]="mockItem2"></item-card>
    <item-card [item]="mockItem3"></item-card>
    <item-card [item]="mockItem1"></item-card>
    <item-card [item]="mockItem2"></item-card>
    <item-card [item]="mockItem3"></item-card>
</div>